.App{
  background-image: url(/banner/baba-bnner.jpeg);
  background-size: cover;
  height: 100vh;
  top: 0;
  position: fixed;
  overflow: scroll;
  width: 100%;
  z-index: -1;
  .navTransparent{
    header{
      background-color: transparent;
      box-shadow: 0 0;
    }
  }
  .navBlack{
    header{
      background-color: #222831;
      box-shadow: 0 0;
      border-bottom: 1px solid #383f4c;
    }
  }
  .navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .linkContainer{
      margin-right:30px;
      display: flex;
      a{
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        margin: 0 20px;
        padding: 2px 0px;
        text-shadow: 1px 2px 3px #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.active{
          span{
            width: 60%;
            background-color: #ed3b57;
            display: inline-block;
            height: 2px;
          }
        }
      }
    }
    .openBtn{
      display: none
    }
    .closeBtn{
      display: none
    }
  }
  .socialNav{
    header{
      background-color: #da364f;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      padding: 30px;
      a{
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .footerContainer{
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px 20px 20px 20px;
    flex-direction: column;
    .footerInnerContainer{
      display: flex;
      max-width: 1080px;
      width: 100%;
      justify-content: space-between;
      &>div{
        max-width: 250px;
        display: flex;
        flex-direction: column;
        h5{
          color: #76787b;
        }
        a{
          color: #76787b;
          text-decoration: none;
          cursor: pointer;
          &:hover{
            color: #cbccd2;
            display: block;
          }
        }
      }
      .instagramImg{
        display: flex;
        width: 155px;
        flex-wrap: wrap;
        background-color: #3e444e;
        justify-content: space-between;
        border: 5px solid #3e444e;
        a{
          line-height: 0;
        }
        img{
          max-width: 70px;
        }
      }
    }
    h4{
      text-align: left;
      font-size: 20px;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-shadow: 1px 1px 4px #000;
      margin-bottom: 30px;
      span{
        width: 80px;
        background-color: #ed3b57;
        display: inline-block;
        height: 2px;
      }
    }
    .copyRight{
      font-size: 14px;
      color: #76787b;
      margin-top: 25px;
    }
  }
}
.mt-5{
  margin-top: 5px;
}
@media only screen and (max-width:768px){
  .App {
    .navBar{
      .logo{
        width: 70px;
      }
      .linkContainer{
        &.hide{
          display:none;
        }
        flex-direction: column;
        position: fixed;
        background: rgba(41, 41, 41, 0.93);
        width: 100%;
        height: 100vh;
        top: 0;
        padding: 80px 20px 40px 20px;
        a{
          font-size: 20px;
          margin: 35px 0px 20px 0px;
        }
        a.active span{
          width: 90px;
        }
        .closeBtn{
          display: inline-block;
          width: 45px;
          padding: 5px 17px;
          position: absolute;
          right: 20px;
          top: 25px;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      .openBtn{
        display: inline-block;
        width: 45px;
        padding: 9px 17px;
        position: absolute;
        right: 20px;
        top: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    .homeCotainer {
      .banner {
        padding: 20px;
        h2{
          font-size: 2rem;
        }
      }
      .gallery {
        h3{
          font-size: 16px;
        }
      }
      .aboutContainer {
        h3{
          font-size: 16px;
        }
        .aboutInnerContainer{
          flex-direction: column;
        }
      }
    }
    .footerContainer {
      padding: 35px 20px 20px 20px;
      h4{
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .footerInnerContainer{
        flex-direction: column;
      }
    }
  }
}