.homeCotainer{
  .tabNabfixed{
    position: fixed;
    top:85px;
    z-index: 0;
  }
  .topSlider{
    position: relative;
    line-height: 0;
    img{
      width: 100%;
      object-fit: cover;
      height: calc(100vh - 120px);
    }
    .captionContainer{
      position: absolute;
      bottom: 0;
      background-color: rgba(35, 34, 34, 0.7);
      padding: 30px 40px;
      max-width: 545px;
      h4{
        font-weight: 200;
        font-family: 'Courgette', cursive;
        color: #f50057;
        letter-spacing: 0;
        margin-bottom: 10px;
      }
      p{
        color: #cccccc;
      }
    }
  }
}
.imgContainer{
  display: flex;
  max-width: 1250px;
  justify-content: center;
  margin: auto;
  padding: 30px;
  flex-wrap: wrap;
}
.imgCard{
  padding: 10px;
  img{
    width: 100%;
  }
}
