.homeCotainer{
  .banner{
    // position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.5019607843137255);
    margin-top: -105px;
    h2{
      font-family: 'Oswald', sans-serif;
      color: #fff;
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: .1em;
      text-transform: uppercase;
      max-width: 650px;
      text-align: center;
      text-shadow: 3px 3px 5px #000;
    }
  }
  .gallery{
    background-color: #222831;
    padding: 65px 20px 75px 20px;
    h3{
      text-align: center;
      font-size: 26px;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-shadow: 1px 1px 4px #000;
      span{
        width: 80px;
        background-color: #ed3b57;
        display: inline-block;
        height: 2px;
      }
    }
    p{
      text-align: center;
      margin: auto;
      max-width: 545px;
      margin-top: 15px;
      margin-bottom: 50px;
      color: #76787b;
    }
    .galleryContaner{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imgContainer{
      max-width: 1080px;
    }
  }
  .aboutContainer{
    background-color: #13171d;
    padding: 65px 20px 75px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3{
      text-align: center;
      font-size: 26px;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-shadow: 1px 1px 4px #000;
      margin-bottom: 50px;
      span{
        width: 280px;
        background-color: #ed3b57;
        display: inline-block;
        height: 2px;
      }
    }
    .aboutInnerContainer{
      max-width: 1080px;
      color: #909296;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .imgSection{
        width: 100%;
        max-width: 500px;
        text-align: center;
        img{
          max-width: 500px;
        }
      }
      .description{
        width: 100%;
        max-width: 800px;
        a{
          color: #aeafb3;
          font-size: 0.9rem;
          text-decoration: none;
          &:hover{
            color: #cbccd2;
          }
        }
      }
    }
  }
  .contactContainer{
    background-color: #13171d;
    padding: 65px 20px 75px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3{
      text-align: center;
      font-size: 26px;
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-shadow: 1px 1px 4px #000;
      margin-bottom: 50px;
      span{
        width: 150px;
        background-color: #ed3b57;
        display: inline-block;
        height: 2px;
      }
    }
    .formContainer{
      max-width: 999px;
      color: #909296;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      .formElements{
        width: 100%;
      }
      form{
        width: 100%;
        input{
          color: #909296;
        }
      }
      .inputContainer{
        display: flex;
        justify-content: space-between;
      }
      .half-width{
        width: calc(50% - 20px);
        .MuiFormLabel-root{
          color: #909296;
        }
        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
          border-color: #909296;
        }
      }
      .full-width{
        .MuiFormLabel-root{
          color: #909296;
        }
        .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
          border-color: #909296;
        }
      }
      .submitButton{
        text-align: center;
        button{
          width: 200px;
          margin-top: 20px;
          padding: 15px;
          font-size: 22px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2.5px;
          border-radius: 4px;
          color: #da364f;
          background-color: #eceef1;
          cursor: pointer;
        }
      }
      .thankyouMessage{
        display: none;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 2.5px;
        flex-direction: column;
        align-items: center;
        text-shadow: 1px 1px 4px #000;
        max-width: 600px;
        padding: 50px 70px;
        border: 1px solid #2e333a;
        margin-top: 80px;
        margin-bottom: 80px;
        border-radius: 3px;
        h4{
          font-size: 45px;
          margin-bottom: 20px;
          color: #549a45;
        }
        p{
          font-size: 16px;
        }
      }
      .sorryMessage{
        display: none;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        letter-spacing: 2.5px;
        flex-direction: column;
        align-items: center;
        text-shadow: 1px 1px 4px #000;
        max-width: 600px;
        padding: 50px 70px;
        border: 1px solid #2e333a;
        margin-top: 80px;
        margin-bottom: 80px;
        border-radius: 3px;
        h4{
          font-size: 45px;
          margin-bottom: 20px;
          color: #842b2b;
        }
        p{
          font-size: 16px;
        }
      }
    }
  }
}